
@font-face {
  font-family: 'CooperBlackStd';
  src: url('CooperBlackStd.eot?#iefix') format('embedded-opentype'),  url('CooperBlackStd.otf')  format('opentype'),
	     url('CooperBlackStd.woff') format('woff'), url('CooperBlackStd.ttf')  format('truetype'), url('CooperBlackStd.svg#CooperBlackStd') format('svg');
  font-weight: normal;
  font-style: normal;
}
body{ font-family: 'Work Sans', sans-serif;}
.headingfont ,.headingfont h1{font-family: CooperBlackStd !important}